@charset "UTF-8";
/*
cores:  
#111A26 +escuro
#192E40 
#3F5F73 +claro
obs: variações dessas cores foram utilizadas
*/

/* REGRAS */

*{
margin: 0;
padding: 0;
}

/* CORPO */

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #002033;
}

/* HEADER */

header{
    background-color:#3F5F73 ;
    padding: 5px;
}
h1{
    margin: 0px 8px 10px 8px ;
    border-bottom: #002033 1px solid;
}
nav > ul{
    text-align: right;
    font-size: 1.1em;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: none;
    
}

nav >ul >li{
    display: inline;
    list-style: none;
    text-align: right;
    padding: 4px;
    background-color:#192E40 ;
    border:#0088ff7e 1px solid ;
    box-shadow: 1px 1px 2px #00000062;
}
a.menu{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #ffffffc2;
    padding: 4px;
}
a.menu:hover{
    color: #499b7f;
}
nav > ul > li:hover{
    border:#0088ff7e 3px solid ;
}

/* CONTÊUDO PRINCIPAL */
main{
    padding: 25px;
    background-color: #002033;
}
p{
    text-indent: 8px;
}
h2{
    font: 2em 'Courier New', Courier, monospace;
    margin: 30px 0px 14px 0px;
    color:#7ebde2 ;
    padding: 8px;
}

/* Sobre mim */

#sobreMim > h2{
    font: 1.7em 'Courier New', Courier, monospace;
    font-weight: 500;
    color: #5c94b4ad;
    text-shadow:2px 1px #499b8034;
    padding-left: 8px;
}
#sobreMim > p{
    max-width: 820px;
    margin-top: 10px;
    font: 1.1em 'Courier New', Courier, monospace;
    color: #56a8d8;
}

/* FORMAÇÃO/IDIOMA */

#formacao > h3{
    margin: 10px 0px 14px 20px;
    color: #56a8d8ad;
}
#formacao > p{
    max-width: 800px;
    margin-top: 10px;
    font: 1.2em 'Courier New', Courier, monospace;
    color:#7ebde2 ;
}
#formacao > ul{
    padding-left: 12px;
    color:#7ebde2 ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}
#formacao > ul > li::marker{
    color: #000000;
}

/* PORTFOLIO */


#portfolio > h2{
    text-align: center;
    padding-top: 30px;
}
#container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.port1, .port2{
    width: 300px;
    height: 300px;
    background-color: #000000;
    margin-top: 50px;
    border-radius: 10px;
    border:#0088ff 2px solid;
}
p.vm{
    text-align: center;
    margin-top: 268px;
    padding: 4px;
    font: 1.2em 'Courier New', Courier, monospace;
    color: #7ebde2;
    background-image: linear-gradient(to left, #111a26ad, #192e40fb, #111a26b0 );
    border-radius: 0px 0px 10px 10px;

}
p.vm > a{
    font: 1.1em 'Courier New', Courier, monospace ;
    color: #7ebde2;
    text-decoration: none;
    
}
p.vm > a:hover{
    color: #002033;
    background-color: #56a8d880;
    padding: 0px 24px 0px 24px;
    border-radius: 20px;
}
div.port1{
    background-image: url(imagens/gorilaPort1.PNG);
    background-size: 300px 300px ;
}
div.port2{
    background-image: url(imagens/cordelPort2.PNG);
    background-size: 300px 300px ;
}

/* CONTATO */

#formulario{
    background-color:#3F5F73 ;
    padding: 0px 20px 20px 20px;
    width: 60vw;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    
}
#formulario > h2{
    text-align: center;
}
label{
    display: block;
    color: #002033;
    margin-top: 12px;
}
input:focus{
    outline:none;
}
input[type=text]{
    display: block;
    width: 40vw;
    height: 15%;
    padding: 4px;
    border-color: #499b7f;
}
input[type=email]{
    display: block;
    width: 40vw;
    height: 15%;
    padding: 4px;
    border-color: #499b7f;
}
textarea{
    display: block;
    width: 25vw;
    height: 10vh;
    padding: 10px;
    border-color: #499b7f;
    outline: none;
}
input[type=submit]{
    padding: 4px;
    margin-top: 12px;
    width: 70px;
    height: 30px;
    border-color: #499b7f;
    color: #002033;
    cursor: pointer;
}

/* FOOTER */

footer{
    margin-top: 35px ;
    background-color: #3F5F73;
    padding: 2px;
}
footer > p{
    color: rgba(255, 255, 255, 0.459);
    text-align: center;
}
